<%- include("head.ejs")%>

<div class="container mt-5 ">
    <div class="card w-25">
        <div class="card-header">
            Blog
        </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
          <p>A well-known quote, contained in a blockquote element.</p>
          <footer class="blockquote-footer">@ninja321</footer>
        </blockquote>
    </div>
</div>

</div>

<%- include("body.ejs")%>