<%- include("head.ejs")%>

<div class="container m-5 p-5 rounded bg-dark text-white text-center">
    <h1 class="display-1"></h1>
    <h1>Welcome to Blogs App</h1>
    <a href="/user/login" class="btn btn-primary">login</a>
    <a href="/user/signup" class="btn btn-outline-primary">create new account</a>
</div>



<%- include("body.ejs")%>